  <div class="table" cdkDropList [cdkDropListData]="status" (cdkDropListDropped)="drop($event)">

    <div class="header">
      {{header}}
    </div>

    <div class="items">

      <eat-story-ticket *ngFor="let story of stories" [story]="story" cdkDrag [cdkDragData]="story">
          <div *cdkDragPreview>
            <div class="dragPreview">            
              <eat-story-ticket [story]="story"></eat-story-ticket>
            </div>
          </div>
      </eat-story-ticket>

    </div>

    <ng-content></ng-content>

  </div>
