@import '~@angular/material/theming';

$primary: mat-palette($mat-pink, 600, 100, 900);

.title_bar {
    width: 100%;
    height: 30px;
    color: mat-color($primary);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}