@mixin width-100 {
  width: 100%;
}

@mixin height-100 {
  height: 100%;
}

.grid-container {
  @include height-100();
  display: grid;
  grid-template-columns: auto 15%;
  grid-template-rows: 60px auto;
  justify-content: stretch;
  align-content: stretch;
}

.action-area {
  // background: lightgreen;
  padding-left: 5px;
  padding-right: 5px;
  grid-column: 1;
  grid-row: 1;

  display: grid;
  justify-content: right;
}

.card-area {
  // background: lightcoral;
  grid-column: 1 / 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-content: stretch;
  justify-content: space-between;

  column-gap: 10px;
  row-gap: 10px;
}

.card {
  // background: lightgoldenrodyellow;
}

.user-area {
  // background: lightblue;
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.user-filter {
  // background: lightseagreen;

  .filterbox {
    width: 100%;
  }
}

.user-card {
  text-align: center;

  .user-avatar {
    max-width: 150px;
  }
}

.donut-header-image {
  width: 50px;
  background-size: cover;
}
