<div class="grid-container">

  <div class="action-area">
    <tooltip-hover-button color="primary" type="fab">
      <mat-icon>
        add
      </mat-icon>
    </tooltip-hover-button>
  </div>

  <div class="card-area">
    <ng-container *ngFor="let item of backlogManager.getElements()">
      <app-backlog-story [doModel]="item" class="card"></app-backlog-story>
    </ng-container>
  </div>

  <div class="user-filter">
    <mat-form-field class="filterbox">
      <mat-label>User filter</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
  </div>

  <div class="user-area">
      <div class="user-card">
        <div class="user-name">User 1</div>
        <img class="user-avatar" src="../../../assets/img/icon/man-06.png" alt="User 1">
      </div>

      <div class="user-card">
        <div class="user-name">User 2</div>
        <img class="user-avatar" src="../../../assets/img/icon/girl-03.png" alt="User 2">
      </div>

      <div class="user-card">
        <div class="user-name">User 3</div>
        <img class="user-avatar" src="../../../assets/img/icon/man-02.png" alt="User 3">
      </div>

      <div class="user-card">
        <div class="user-name">User 4</div>
        <img class="user-avatar" src="../../../assets/img/icon/man-03.png" alt="User 4">
      </div>
  </div>

</div>
