<div class="row row-40 cols-5">
  <div class="text-area" scrollable>

    <div class="text-msg"
        *ngFor="let message of messages"
        [ngClass]="{'text-me':message.name === 'Me'}">
      <div class="text-bbl">
        <span [ngClass]="{
          'client': message.name !== 'Me' && message.name !== 'Server',
          'me':message.name === 'Me',
          'server':message.name === 'Server'
        }">({{message.time | date:'hh:mm:ss'}}) {{message.name}} : </span>
        {{message.object}}
      </div>
    </div>

  </div>

  <mat-form-field class="width-100">
    <input #myMessage matInput
            placeholder="Enter your message here..."
            (keydown.enter)="onKeydown($event)">
      <button mat-button matSuffix mat-icon-button aria-label="Send" color="primary"
              (click)="sendMessage(myMessage.value)">
              <mat-icon>send</mat-icon>
      </button>
  </mat-form-field>

  <div class="bottom-btn">
    <button *ngIf="!isAutoScrollEnable()"
            mat-button
            (click)="scrollToBottom()">Go to last message</button>
  </div>


</div>
